<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ControlMDataColumn" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="FileType" value ="ControlM"/>
    
    <add key="ExcelFilePath" value="C:\ccbaprog\Grace\CompareExcelToXML_Doc\rubbish.xlsx"/>
    <add key="WorksheetName" value="PDN  job Definition Table"/>
    
    <add key="XMLFilePath" value="C:\Users\cwtsa\Documents\GitHub\CompareExcelToXML\CompareExcelToXMLConsole\CompareExcelToXMLConsole\Documents\SECG.xml"/>
  </appSettings>
  <ControlMDataColumn>
    <!-- value= columnIndex|Status/Ignore/Attribute/Node|attributeNameInXML/NodeNameInXML-->
    <!--<add key="Field1" value="1|S|" />
    <add key="Field2" value="2|S|" />
    <add key="Field3" value="3|A|NODEID" />
    <add key="Field4" value="4|A|JOBNAME" />
    <add key="Field5" value="5|A|DESCRIPTION" />
    <add key="Field6" value="6|A|RUN_AS" />
    <add key="Field7" value="7|A|MEMNAME" />
    <add key="Field8" value="8|A|MEMLIB" />
    <add key="Field9" value="9|N|VARIABLE" />
    <add key="Field10" value="10|I|" />
    <add key="Field11" value="11|I|" />
    <add key="Field12" value="12|A|TIMEFROM" />
    <add key="Field13" value="13|N|ON" />
    <add key="FileWatcher1" value="%%FileWatch-FILE_PATH" />
    <add key="FileWatcher2" value="%%FileWatch-TIME_LIMIT" />
    <add key="FileWatcher3" value="%%FileWatch-MIN_AGE" />-->
    
    <!-- key = attribute name / node_attribute name-->
    <!-- value = Column No in excel (start from 1) | Attribute / Node; Attributes_Value_Name-->
    <add key="ACTIVE_TILL" value="1|A" />
    <add key="NODEID" value="3|A" />
    <add key="JOBNAME" value="4|A" />
    <add key="DESCRIPTION" value="5|A" />
    <add key="RUN_AS" value="6|A" />
    <add key="MEMNAME" value="7|A" />
    <add key="MEMLIB" value="8|A" />
    <add key="VARIABLE" value="9|N|VALUE" />
    <add key="TIMEFROM" value="12|A" />
    <add key="ON" value="13|N|MESSAGE" />
    <add key="VARIABLE_NAME" value="%%PARM|%%FileWatch-FILE_PATH|%%FileWatch-TIME_LIMIT|%%FileWatch-MIN_AGE" />
    <add key="ON_CODE" value="NOTOK" />
  </ControlMDataColumn>
</configuration>
